$animation-duration: 2.5s
    
main.history
    position: relative
    height: 100%
    padding: 0
    background-color: #001324

    &::after
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 140px
        z-index: 99
        width: 1px
        background-color: #fff
        opacity: .05

        +media($desktop-sm)
            left: 10%

        +media($mobile-lg)
            left: 72px

.history__close
    position: absolute
    top: 40px
    right: 60px
    z-index: 99
    display: block

    +media($tablet)
        top: 30px
        right: 50px

    +media($mobile-lg)
        top: 20px
        right: 30px

    +media($mobile-sm)
        top: 20px
        right: 20px

    & svg
        display: block

        +media($tablet)
            width: 40px
            height: 40px

        +media($mobile-md)
            width: 30px
            height: 30px

        &:hover
            circle
                stroke: $light-accent

            path
                fill: $light-accent

        circle
            transition: stroke .3s

        path
            transition: fill .3s

.history__menu
    position: absolute
    top: 50vh
    left: 58px
    z-index: 95
    overflow: hidden
    transform: translateY(-50%)

    +media($desktop-sm)
        left: 3.7%

    +media($mobile-lg)
        top: calc(50vh - 30px)
        left: 22px

    & > li
        position: relative
        max-width: 60%
        padding: 16px 0
        font-size: 16px
        transition: all 1s
        transform: translate3d(0px, 0px, 0px) // safari fix animation

        &.active
            opacity: 1 !important

            & > a
                color: $light-accent

        & > a
            color: #fff
            text-decoration: none
            transition: all 1s

        +media($tablet)
            font-size: 14px

.history__body
    z-index: 2

.history__event
    position: relative
    visibility: hidden
    transition: all .3s linear
    animation-duration: $animation-duration
    animation-timing-function: linear

    .jp-tableCell
        transform: translate3d(0px, 0px, 0px) // safari fix animation

    &.js-animation-start::before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 2
        opacity: 0.7
        background: linear-gradient(90deg, #111111 -3.58%, rgba(17, 17, 17, 0.748299) 30.5%, rgba(17, 17, 17, 0.15) 73.15%)
        animation-duration: $animation-duration
        animation-timing-function: linear
        animation-name: blackout
        transform: translate3d(0px, 0px, 0px) // safari fix animation

    &:first-child
        &.js-animation-start
            animation-name: startAnimationMainSlide

    &:nth-child(2)
        &.js-animation-start
            animation-delay: .3s
            animation-name: startAnimationSecondSlide

    &:nth-child(3)
        &.js-animation-start
            animation-name: startAnimationThirdSlide

    &:nth-child(4)
        &.js-animation-start
            animation-name: startAnimationFourthSlide

    & img
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        transform: translate3d(0px, 0px, 0px) // safari fix animation

.history__content
    position: absolute
    top: 50%
    left: 16%
    z-index: 2
    max-width: 520px
    color: #fff
    font-weight: 400
    opacity: 0
    transform: translateY(-50%) translate3d(0px, 0px, 0px) // safari fix animation
    transition: all .4s

    +media($tablet)
        max-width: 450px

    +media($mobile-lg)
        top: unset
        bottom: -80px
        left: 100px
        max-width: 320px

    +media($mobile-sm)
        max-width: 215px

    &.js-content-animation
        opacity: 1

// .history__content--alt
    // right: 6%
    // left: unset

    // +media($mobile-sm)
    //     right: unset
    //     left: 100px

.history__video
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover

.history__rubric
    display: flex
    align-items: center
    margin-bottom: 16px
    font-size: 10px
    text-transform: uppercase
    letter-spacing: .2em

.history__dot
    width: 8px
    height: 8px
    margin-right: 8px
    border-radius: 50%
    background-color: $accent

.history__achievement
    font-size: 34px
    line-height: 1.3

    +media($tablet)
        font-size: 30px

    +media($mobile-lg)
        font-size: 20px

    +media($mobile-sm)
        font-size: 18px

.history__play
    margin-top: 30px
    color: $light-accent
    font-size: 16px
    line-height: 1.4

    +media($tablet)
        font-size: 14px

    +media($mobile-lg)
        font-size: 12px

    &:hover
        cursor: pointer

    &::before
        content: ''
        display: inline-block
        width: 12px
        height: 12px
        margin-right: 6px
        box-sizing: border-box
        border-style: solid
        border-color: transparent transparent transparent $light-accent
        border-width: 6px 0 6px 10px

        +media($tablet)
            width: 10px
            height: 10px
            border-width: 5px 0 5px 8px

        +media($mobile-lg)
            width: 8px
            height: 9px
            border-width: 4px 0 4px 6px

.history__progress
    margin-top: 40px
    font-size: 16px

    +media($mobile-lg)
        font-size: 12px

@keyframes blackout
    0%
        opacity: 0

    80%
        opacity: 0
        
    100%
        opacity: 0.7

@keyframes startAnimationMainSlide
    0%
        z-index: 1
        transform: scale(.4) translate(45%, 0%)
        opacity: 0

    30%
        z-index: 5
        opacity: 1

    80%
        z-index: 5
        transform: scale(.4) translate(45%, -55%)

    95%
        z-index: 5
        transform: translate(0%, 0%)
        
    100%
        z-index: 5
        transform: scale(1)

@keyframes startAnimationSecondSlide
    0%
        z-index: -1
        visibility: visible
        opacity: 0
        transform: translate(-20%, -15%) scale(0.3)

    10%
        z-index: -1
        visibility: visible
        opacity: .2
        transform: translate(-20%, -40%) scale(0.3)
        
    100%
        z-index: -1
        visibility: visible
        opacity: .2
        transform: translate(-20%, -60%) scale(0.3)
           
@keyframes startAnimationThirdSlide
    0%
        z-index: -1
        visibility: visible
        opacity: 0
        transform: translate(-12%, 45%) scale(0.3)

    10%
        z-index: -1
        visibility: visible
        opacity: .15
        transform: translate(-12%, 15%) scale(0.3)
        
    100%
        z-index: -1
        visibility: visible
        opacity: .15
        transform: translate(-12%, -15%) scale(0.3)

@keyframes startAnimationFourthSlide
    0%
        z-index: -1
        visibility: visible
        opacity: 0
        transform: translate(-1%, 60%) scale(.2)

    10%
        z-index: -1
        visibility: visible
        opacity: 0.15
        transform: translate(-1%, 45%) scale(.2)
        
    100%
        z-index: -1
        visibility: visible
        opacity: 0.15
        transform: translate(-1%, 20%) scale(.2) 

.history__title
    position: absolute
    top: 20vh
    left: 16%
    z-index: 3
    color: #fff
    line-height: 1
    opacity: 0

    +media($mobile-lg)
        left: 100px

    &.js-animation-start
        animation-name: title
        animation-duration: $animation-duration
        animation-delay: .5s
        animation-timing-function: cubic-bezier(0, 0.98, 1, 1)
        transform: translate3d(0px, 0px, 0px) // safari fix animation

        +media($mobile-md)
            animation-name: titleMobile

    & > h4
        color: rgba(153, 153, 153, 0.7)
        font-size: 22px

        +media($mobile-lg)
            font-size: 18px

        +media($mobile-sm)
            font-size: 10px

    & > h3
        font-size: 136px

        +media($mobile-lg)
            font-size: 84px

@keyframes title
    0%
        transform: translateY(100vh)
        opacity: 0

    10%
        transform: translateY(25vh)
        opacity: 1
        
    55%
        opacity: 1
        
    80%
        transform: translateY(0)
        opacity: 0

    100%
        opacity: 0

@keyframes titleMobile
    0%
        transform: translateY(80vh)
        opacity: 0

    10%
        opacity: 1

    55%
        opacity: 1
        
    75%
        transform: translateY(0vh)
        opacity: 0

    100%
        transform: translateY(0vh)
        opacity: 0

.history__popup
    position: absolute
    top: 0
    left: 0
    z-index: 9999
    display: none
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.9)

    .history__video
        top: 50%
        left: 5%
        width: 90%
        height: auto
        max-height: 100%
        transform: translateY(-50%)