.contacts
    display: grid
    grid-template-columns: 50% 50%
    column-gap: 20px
    font-size: 30px
    line-height: 1.46

    +media($tablet)
        font-size: 20px

    +media($mobile-lg)
        display: flex
        flex-direction: column
        font-size: 16px

    &:not(:last-child)
        margin-bottom: 50px

.contacts__address
    +media($mobile-lg)
        margin-bottom: 14px

.contacts__link
    display: block
    color: $textcolor
    font-weight: bold
    text-decoration: none
    transition: color .3s

    &:hover
        color: $accent

.contacts__social
    margin-top: 30px

    +media($tablet)
        margin-top: 15px

// Yandex.Map styles
.ymap
    position: relative
