.results__title
    margin-bottom: 30px
    font-size: 20px
    opacity: 0.5

    +media(1336px)
        margin-bottom: 2.2455vw
        font-size: 1.5vw

    +media($mobile-lg)
        margin-bottom: 4.81vw
        font-size: 2.53vw

    +media($mobile-sm)
        margin-bottom: 6.6vw
        font-size: 3.75vw

.results__holder
    display: flex

    +media($mobile-lg)
        margin-bottom: 9.5vw

    +media($mobile-sm)
        justify-content: space-between
        margin-bottom: 13.75vw

.results__item
    flex-basis: 15%

    +media($mobile-lg)
        flex-basis: 23%
        margin-right: 4vw

    +media($mobile-sm)
        flex-basis: 34%
        flex-grow: 1
        flex-shrink: 0
        box-sizing: border-box
        margin-right: 0

.results__item--accent
    position: absolute
    top: 151px
    left: -143px
    background-color: $accent
    width: 213px
    height: 175px
    padding: 28px 36px
    box-sizing: border-box

    +media(1336px)
        top: 11.3024vw
        left: -10.70356vw
        width: 15.954vw
        height: 13.1081vw
        padding: 2.1vw 2.7vw

    +media($mobile-lg)
        top: -7.2vw
        right: 26px
        left: unset
        width: 22.8vw
        height: 19vw
        margin-right: 17vw
        padding: 3vw 3.5vw

    +media($mobile-sm)
        top: -10.625vw
        right: 26px
        left: unset
        width: 33.75vw
        height: 28.125vw
        margin-right: 0
        padding: 4.7vw 5.625vw

    .results__numbers
        color: #fff

    .results__description
        color: #FFE9E6
        opacity: 1

.results__numbers
    margin-bottom: 8px
    font-size: 40px
    color: $accent

    +media(1336px)
        margin-bottom: 0.6vw
        font-size: 3vw

    +media($mobile-lg)
        font-size: 4.2vw

    +media($mobile-sm)
        margin-bottom: 1.5vw
        font-size: 6.3vw

.results__description
    padding-right: 5%
    font-size: 20px
    opacity: 0.5

    +media(1336px)
        font-size: 1.5vw

    +media($mobile-lg)
        font-size: 2.53vw

    +media($mobile-sm)
        padding-right: 0
        font-size: 3.75vw

.results__illustration
    position: absolute
    right: 0
    bottom: -176px
    left: 59%
    padding-bottom: 488px

    +media(1336px)
        bottom: -13.17365vw
        padding-bottom: 36.53vw

    +media($tablet)
        left: 60%

    +media($mobile-lg)
        left: 61%

    +media($mobile-lg)
        position: relative
        top: 0
        left: -24px
        width: calc(100% + 48px)
        padding-bottom: 94.4vw

    & > img
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover