@import config
@import "blocks/**/*"
@import "pages/**/*"
@import "swiper-bundle.min.css"
@import "hamburger.css"
@import "fullpage.min.css"

main
    overflow: hidden
    padding-top: 84px

    +media($mobile-lg)
        padding-top: 60px

main.company
    overflow: unset

    +media($mobile-lg)
        overflow: hidden

.container
    flex-grow: 1
    max-width: 1272px
    margin: 0 auto
    padding: 0 32px
    opacity: 0
    transform: translateY(24px)
    transition: opacity 1s, transform 1s

    +media($mobile-lg)
        padding: 0 24px

.container[data-not-animate]
    transform: translateY(0)
    opacity: 1

.container--animated
    opacity: 1
    transform: translateY(0)

.container--mission
    position: relative

    +media($mobile-lg)
        position: static

.container--vision
    position: relative

    +media($mobile-lg)
        position: static

.fixed
    overflow: hidden

.hidden
    display: none

.show
    display: block